.a {
    text-align: center;
    padding-top: 20px;
    text-transform: uppercase;
}
.b {
    padding-top: 20px;
    line-height: 42px;
    word-spacing: 1px;
    letter-spacing: 2px;
    text-align: justify;
}
.img {
    width: 80%;
}
/* button{
    background: red !important;;
} */
.c {
    background-image: url(../image/slider22.jpg);
    width: 100%;
}