.a{
    text-align: center;
    padding-top: 20px;
    text-transform: uppercase;
    font-family: 'prague';
    letter-spacing: 3px;
}
.b{
    line-height: 35px;
    letter-spacing: 1px;
    word-spacing: 1px;
    padding-right: 5px;
    text-align: justify;
}
.img123{
    width: 80%;
}
.c{
    background-image: url(../image/img\ background.jpg);
    width: 100%;
}
.c2{
    background-image: url(../image/gamebanner.jpg);
    width: 100%;
}
.ccc{
    background-image: url(../image/ourimage.jpg);
    width: 100%;
    height: 650px;
    background-position: center;
    background-size: cover;
}
.aa{
    line-height: 35px;
    letter-spacing: 1px;
    word-spacing: 1px;
    padding-right: 5px;
    text-align: justify;
}
.ex{
    padding-top: 20px;
    text-transform: uppercase;
    font-family: 'prague';
    letter-spacing: 3px
}
.our{
    padding-top: 20px;
    text-transform: uppercase;
    font-family: 'prague';
    letter-spacing: 3px
}
.cc{
    background-image: url(../image/ffback2.png);
    width: 100%;
}
.cccc{
    background-image: url(../image/brands.jpg);
    width: 100%;
    height: 630px;
    background-position: center;
    background-size: cover;
}
.ccccc{
    background-image: url(../image/new-our-team.jpg);
    width: 100%;
    height: 630px;
    background-position: center;
    background-size: cover;
}
.cccccc{
    background-image: url(../image/CONTACT-US.jpg);
    width: 100%;
    height: 620px;
    background-position: center;
    background-size: cover;
}
.ccccac{
    background-image: url(../image/new-careers-1.jpg);
    width: 100%;
    height: 620px;
    background-position: center;
    background-size: cover;

}
.ccccd{
    background-image: url(../image/press-new-1.jpg);
    width: 100%;
    height: 630px;
    background-position: center;
    background-size: cover;

}
.aaa{
    padding-top: 20px;
    text-transform: uppercase;
    font-family: 'prague';
    letter-spacing: 3px;
}
.navbar-nav a:hover{
    background-color: #fbac1b;
    transition: 1sec;
}
.weblogo{
    width: 65px;
}
.navbar{
    background: #00000082 !important;
}
.navbar-nav li{
    padding: 0 10px;
}
.navbar-nav li a{
    color: #fff !important;
    font-weight: 600;
    font-size: 20px;
}
.moblogo{
    display: none;
}
.send{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
}
.go{
    line-height: 20px;
    letter-spacing: 1px;
    word-spacing: 1px;
    padding-right: 5px;
    margin-top: 20px;
    font-weight: lighter;
     padding-bottom: 12px;
}
.read{
    letter-spacing: 1px;
    word-spacing: 1px;
    padding-right: 5px;
    font-weight: lighter;
}

.photo1{
    background-image: url(../image/YPAshok.jpg);
    width: 100%;
    height: 8.8cm;
    background-position: center;
    background-size: cover;
}

.photo2{
    background-image: url(../image/B.R.-Sachdeva.jpg);
    width: 100%;
    height: 8.8cm;
    background-position: center;
    background-size: cover;
}

.photo3{
    background-image: url(../image/Sagar-Bajaj.jpg);
    width: 100%;
    height: 8.8cm;
    background-position: center;
    background-size: cover;
}

.photo4{
    background-image: url(../image/JAY-PHOTO-1-1.jpg);
    width: 100%;
    height: 8.8cm;
    background-position: center;
    background-size: cover;
}

.photo5{
    background-image: url(../image/vibhutiPR.jpg);
    width: 100%;
    height: 8.8cm;
    background-position: center;
    background-size: cover;
}





@media(max-width:768px)
{
    .moblogo{
        display: block;
    }
    .weblogo{
        display: none;
    }
    .navbar{
        background: #fbac1b !important;
    }
    .img123{
        width: 100%;
    }
    .foot{
        display: none;
    }
    .carousel{
        margin-top: 2.65cm;
    }
}
